@using lo = PizzaStore.Domain.Models.Location;
@using pi = PizzaStore.Domain.Models.Pizza;
@using PizzaStore.ClientV1.ViewModels;
@using System;
@using System.Collections.Generic;
@using System.Text;
@model PizzaStore.ClientV1.Models.Order

<h1>Make an Order</h1>

<p>Logged in as: @Model.Username</p>
@*<p>Order number: @Model.OrderNumber</p>*@

@using (@Html.BeginForm("Post", "Order", FormMethod.Post))
{
    <p>Which location are you ordering from?</p>
    List<lo.Location> locations = new List<lo.Location>();
    foreach (var location in LocationViewModel.GetLocations())
    {
        locations.Add(location);
        @Html.RadioButtonFor(m => m.LocationAddress, location.Address.Street + " " + location.Address.City + ", " + location.Address.State)
        @Html.LabelFor(m => m.LocationAddress, location.Address.Street + " " + location.Address.City + ", " + location.Address.State)
        <br />
    }
    <br />
 
    @if (Model.Pizzas != null)
    {
        @foreach (var pizza in Model.Pizzas)
        {
            <p>
            @pizza.Size.ToString() 
            @pizza.Crust.ToString() 
            @foreach (var topping in pizza.Toppings)
            {
                topping.ToString();
            }
            </p>
        }
    }
    else
    {
        <p>You have not added a pizza to your order yet.</p>
        Model.Pizzas = new List<pi.Pizza>();
    }
    <br />

    @*if (@Model.Pizzas == null)
        {
            @Model.Pizzas = new List<pi.Pizza>();
        }*@
}
    @*<partial name="~/Views/Shared/_OrderPizzaPartial.cshtml" model="Model" />*@
@Html.Partial("~/Views/Shared/_OrderPizzaPartial.cshtml", Model)
@*<p>Total: @Model.Total</p>*@