@using lo = PizzaStore.Domain.Models.Location;
@using pi = PizzaStore.Domain.Models.Pizza;
@using PizzaStore.ClientV1.ViewModels;
@using System;
@using System.Collections.Generic;
@using System.Text;
@model PizzaStore.ClientV1.Models.Order

<h1>Make an Order</h1>

<p>Logged in as: @Model.Username</p>
@*<p>Order number: @Model.OrderNumber</p>*@

@using (@Html.BeginForm("Post", "Order", FormMethod.Post))
{


    <p>Which location are you ordering from?</p>
    List<lo.Location> locations = new List<lo.Location>();
    foreach (var location in LocationViewModel.GetLocations())
    {
        locations.Add(location);
        @Html.RadioButtonFor(m => m.LocationAddress, location.Address.Street + " " + location.Address.City + ", " + location.Address.State)
        @Html.LabelFor(m => m.LocationAddress, location.Address.Street + " " + location.Address.City + ", " + location.Address.State)
        <br />
    }
    <br />

    @if (Model.Pizzas != null)
    {
        int i = Model.Pizzas.Count();
        <p>@i</p>
        @foreach (var pizza in Model.Pizzas)
        {

            <p>
                @pizza.Size.ToString()
                @pizza.Crust.ToString()

                @foreach (var topping in pizza.Toppings)
                {
                    topping.ToString();
                }

            </p>
        }
    }
    else
    {
        <p>You have not added a pizza to your order yet.</p>
        Model.Pizzas = new List<pi.Pizza>();
    }
    <br />

    @Html.HiddenFor(m => m.Username)
    @Html.HiddenFor(m => m.Total)
    @Html.HiddenFor(m => m.OrderNumber)
    @Html.HiddenFor(m => m.LocationAddress)
    if (Model.Pizzas.Count == 0)
    {
        @Html.HiddenFor(m => m.Pizzas)
    }
    else
    {
        @for (int x = 0; x < Model.Pizzas.Count; x++)
        {
            @Html.HiddenFor(m => m.Pizzas[x].Crust)
            @Html.HiddenFor(m => m.Pizzas[x].Size)
            if (Model.Pizzas[x].Toppings.Count > 0)
            {
                for (int t = 0; t < Model.Pizzas[x].Toppings.Count; t++)
                {
                    @Html.HiddenFor(m => m.Pizzas[x].Toppings[t])
                }
            }
            else
            {
                @Html.HiddenFor(m => m.Pizzas[x].Toppings)
            }
        }
    }
    <button type="submit" name="AddPizzaToOrder" value="@Model">Add A Pizza</button>
}

